* {
  color: rgb(0, 0, 0);
}
p {
  margin: 0px;
  margin-bottom: 2px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding-top: 7em;
}
.background-white {
  background: #ffffff;
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding: 10px;
  max-width: 80%;
  min-width: 80%;
}

.background {
  background-image: url("../public/noobSecurityBG.png");
  background-size: contain; /* ajusta a imagem para cobrir o elemento */
  background-position: center; /* centraliza a imagem */
  background-repeat: repeat-y; /* evita que a imagem se repita */
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .container {
    padding-top: 2em;
    overflow-y: auto;
  }
  .background {
    background-image: url("../public/mobilebg.jpg");
    background-size: contain; /* ajusta a imagem para cobrir o elemento */
    background-position: center; /* centraliza a imagem */
    background-repeat: repeat-y; /* evita que a imagem se repita */
    width: 100vw;
    min-height: 100vh;
  }
  /* regras de estilo*/
}
