* {
  color: rgb(0, 0, 0);
}
.container {
  width: 80vw;
  height: 80vh;
  background: #ffffff;
  opacity: 0.9;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.computer,
.mobile {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.icon-computer,
.icon-mobile {
  height: 10em;
  width: 10em;
}

.background {
  background-image: url("../public/noobSecurityBG.png");
  background-size: cover; /* ajusta a imagem para cobrir o elemento */
  background-position: center; /* centraliza a imagem */
  background-repeat: no-repeat; /* evita que a imagem se repita */
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .background {
    background-image: unset;
    background-color: black;
    background-size: cover; /* ajusta a imagem para cobrir o elemento */
    background-position: center; /* centraliza a imagem */
    background-repeat: no-repeat; /* evita que a imagem se repita */
    width: 100vw;
    height: 100vh;
  }
  .container {
    width: 80vw;
    height: 80vh;
    background: #ffffff;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .icon-computer,
  .icon-mobile {
    height: 10em;
    width: 10em;
  }

  /* regras de estilo*/
}
